<!DOCTYPE html>
<html  xmlns:th="www.thymeleaf.org">
<head lang="en">
    <meta charse t="UTF-8">
    <title>Robo Resume</title>
</head>
<body>
<h1>Robo Resume DataBase</h1>



    <form action="#" th:action="@{/person}" th:object="${person}" method="post">
        Id: <input type="number" th:field="*{id}"/>
        <span class="text-warning" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span><br/>
        Name: <input type="text" th:field="*{name}"/>
        <span  class="text-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br/>
        MiddleName: <input typ="text" th:field="*{middleName}"/>
        <span class="text-warning" th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></span><br/>
        LastName: <textarea row="3"  th:field="*{lastName}"/>
        <span class="text-warning" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span><br/>
        Email: <input type="text" th:field="*{email}"/>
        <span  class="text-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span><br/>
        <input type="submit" value="Submit"/>
    </form>
    </body>
</html>