<!DOCTYPE html>
<html  xmlns:th="www.thymeleaf.org">
<head lang="en">
    <meta charse t="UTF-8">
    <title>Skills</title>
</head>
<body>
<h1>Skills</h1>
<h2>How to make CornBread</h2>
<form action="#" th:action="@{/person}" th:object="${person}" method="post">
    Id: <input type="number" th:field="*{id}"/>
    <span class="text-warning" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span><br/>
    Duties: <input type="text" th:field="*{duties}"/>
    <span  class="text-warning" th:if="${#fields.hasErrors('duties')}" th:errors="*{duties}"></span><br/>
    Duties: <input typ="text" th:field="*{duties}"/>
    <span class="text-warning" th:if="${#fields.hasErrors('duties')}" th:errors="*{duties}"></span><br/>
    Duties: <textarea row="3"  th:field="*{duties}"/>
    <span class="text-warning" th:if="${#fields.hasErrors('duties')}" th:errors="*{duties}"></span><br/>
    Duties: <input type="text" th:field="*{email}"/>
    <span  class="text-warning" th:if="${#fields.hasErrors('duties')}" th:errors="*{duties}"></span><br/>
    <input type="submit" value="Submit"/>
</form>

</body>
</html>